body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: grey;
    width: 330px;
    height: 480px;
    margin: 40px;
    padding: 20px;
}

#result {
    width: 330px;
    height: 80px;
    background-color: rgb(200,200,200);
}

button {
    width: 80px;
    height: 80px;
}
#calculatorButtons {
    width: 330px;
    display: flex;
}

#numberButtons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#clear, #zero {
    width: 240px;
}

#operationButtons {
    display: flex;
    flex-direction: column;
}