body {
    background-color: rgb(40, 40, 40);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: rgb(100, 100,100);
    width: 320px;
    height: 490px;
    margin: 40px;
    padding: 15px;
}

input {
    box-sizing: border-box;
    padding: 0 10px;
    width: 320px;
    height: 80px;
    background-color: rgb(60, 60, 60);
    margin-bottom: 15px;
    font-size: 50px;
    text-align: right;
    color: white;
}

button {
    width: 80px;
    height: 80px;
    text-decoration: none;
    font-size: 30px;
    background-color: rgb(60, 60, 60);
    border-color: gray;
    color: white;
}
#calculatorButtons {
    width: 320px;
    display: flex;
}

#numberButtons {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#clear, #zero {
    width: 240px;
}

#operationButtons {
    display: flex;
    flex-direction: column;
}

#operationButtons > button {
    background-color: rgb(255, 100, 50);
}

#operationButtons > button:hover {
    background-color: rgb(219, 75, 35);
}

#numberButtons > button:hover {
    background-color: rgb(80, 80, 80);
}

.notAvailable {
    pointer-events: none;
}